@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

$theme-colors: (
  "primary": #0b4f6c,
  "light": #e5f2f7
);

@import "node_modules/bootstrap/scss/bootstrap";
@import "metricsgraphics.css";
@import "metricsgraphics-em-fix";

body {
  font-family: Lato, Helvetica, Arial, "sans-serif";

  &.event-page {
    background: theme-color("primary");

    #ssigNav {
      background: transparent;
    }
  }
}

#ixnNav {
  background-color: #fff;

  a {
    fill: theme-color("primary");
    color: theme-color("primary");
    font-family: Lato, Helvetica, Arial, "sans-serif";
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}

#ssigNav {
  background: theme-color("primary");

  h1 {
    color: #fff;
  }
}

.group-box, .event-box {
  background: theme-color("light");
  padding: 30px;
  width: 100%;

  h2 {
    color: theme-color("primary");
    font-size: 1rem * 1.5;
    line-height: 1.5rem;
  }

  p {
    overflow: hidden;
  }
}

.group-box {
  height: 1.5rem * (6 + 5);
}

.event-box {
  height: 1.5rem * (11 + 5);

  .event-details {
    .event-location {
      font-size: 75%;
    }
  }
}

.event-details-date {
  text-align: center;
  color: theme-color("primary");

  .event-date {
    background: #fff;
    line-height: 1.5rem;
    border-radius: 50%;
    height: 1.5rem * (2 + 1);
    width: 1.5rem * (2 + 1);
    padding-top: 0.7rem;
    text-transform: uppercase;
  }
}

.metrics-graph {
  font-size: 12px;
}

.event-map-wrapper {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  position: fixed;

  .event-map {
    height: 100%;
    width: 100%;
  }
}

.event-body {
  background-color: #fff;
  margin-top: 200px;

  .event-date {
    background: theme-color("primary");
    color: #fff;
  }
}
