.mg-active-datapoint {
    font-size: 0.9em;
}
.mg-baselines text {
    font-size: 0.9em;
}
.mg-baselines-small text {
    font-size: 0.6em;
}
.mg-header {
    font-size: 1.2em;
}
.mg-header .mg-chart-description {
    font-size: 1.2em;
}
.mg-header .mg-warning {
    font-size: 1.2em;
}
.mg-popover {
    font-size: 0.95em;
}
.mg-data-table thead tr th {
    font-size: 1.1em;
}
.mg-data-table thead tr th .popover {
    font-size: 1em;
}
.mg-line-legend text {
    font-size: 0.9em;
}
.mg-markers text {
    font-size: 0.8em;
}
.mg-x-axis text,
.mg-y-axis text,
.mg-histogram .axis text {
    font-size: 0.9em;
}
.mg-x-axis .label,
.mg-y-axis .label,
.mg-axis .label {
    font-size: 0.8em;
}
.mg-x-axis-small text,
.mg-y-axis-small text,
.mg-active-datapoint-small {
    font-size: 0.6em;
}
.mg-x-axis-small .label,
.mg-y-axis-small .label {
    font-size: 0.65em;
}
.mg-year-marker text {
    font-size: 0.7em;
}
.mg-year-marker-small text {
    font-size: 0.6em;
}
