<div class="col-lg-6 text-center mb-3">
  <div id="{{ name }}" class="metrics-graph"></div>
  <div id="{{ name }}-controls" class="btn-group mb-3" role="group" aria-label="Period">
    <span class="btn btn-sm btn-outline-secondary disabled">Period</span>
    <button type="button" class="btn btn-sm btn-outline-secondary" data-period="day">Day</button>
    <button type="button" class="btn btn-sm btn-outline-secondary active" data-period="week">Week</button>
    <button type="button" class="btn btn-sm btn-outline-secondary" data-period="month">Month</button>
    <button type="button" class="btn btn-sm btn-outline-secondary" data-period="cumulative">Cumulative</button>
  </div>
</div>
