{% extends 'base.html' %}
{% load static %}

{% block title %}{{ event.title }}{% endblock %}

{% block body_classes %}event-page{% endblock %}

{% block header %}
  <h1 class="my-3 mr-3">{{ event.title }}</h1>
  {% if ticket %}
    <form class="form-inline" action="/e/{{event.id}}/unregister" method="post">
        {% csrf_token %}
        <input type="submit" class="btn btn-sm btn-outline-light" value="Unregister">
    </form>
  {% else %}
    {% if user.is_authenticated and allow_registration %}
      <form class="form-inline" action="/e/{{event.id}}/register" method="post">
          {% csrf_token %}
          <input type="submit" class="btn btn-sm btn-light" value="Register">
      </form>
    {% endif %}
  {% endif %}
{% endblock %}

{% block header-dropdown %}
{% if user.is_staff or user_role == leader_role %}
  <a class="dropdown-item" href="{% url 'event-attendance' event.id %}">Attendance Registration</a>
  <a class="dropdown-item" href="{% url 'event-metrics' event.id %}">Event Metrics</a>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item" href="{% url 'event-edit' event.id %}">Edit Event</a>
  <a class="dropdown-item" href="{% url 'event-delete' event.id %}">Delete Event</a>
  <div class="dropdown-divider"></div>
{% endif %}
{% endblock %}

{% block content %}
<div class="event-map-wrapper"><div class="event-map"></div></div>
<div class="row event-body py-3">
  <div class="col">
      {{ event.long_description | safe }}
  </div>
  <div class="col-xl-4">
    {% include 'event-time.html' %}

    <h6>Location:</h6>
    <p>
      {{ event.location }}<br>
      <a href="https://www.google.com/maps/search/{{ event.latitude }},+{{ event.longitude }}" target="_blank">View on map</a>
    </p>

    <h6>Restricted to:</h6>
    <p>
      {{ event.get_restricted_to_display }}
    </p>
  </div>
</div>
{% endblock %}

{% block scripts %}
  <script>
    var event_latitude = {{ event.latitude }}
    var event_longitude = {{ event.longitude }}
  </script>
  <script src="{% static 'js/event.js' %}"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_KEY }}&callback=init_map" async defer></script>
{% endblock %}
