{% extends 'base.html' %}
{% load static %}

{% block title %}{{ event.title }}{% endblock %}

{% block body_classes %}event-page{% endblock %}

{% block header %}
  <h1 class="my-3 mr-3">{{ event.title }}</h1>
  {% if user.is_authenticated %}
      {% if event not in user.events.all %}
          <form class="form-inline" action="/e/{{event.id}}/join" method="post">
              {% csrf_token %}
              <input type="submit" class="btn btn-sm btn-light" value="Register">
          </form>
      {% else %}
          <form class="form-inline" action="/e/{{event.id}}/leave" method="post">
              {% csrf_token %}
              <input type="submit" class="btn btn-sm btn-outline-light" value="Unregister">
          </form>
      {% endif %}
  {% endif %}
{% endblock %}

{% block content %}
<div class="event-map-wrapper"><div class="event-map"></div></div>
<div class="row event-body py-3">
  <div class="col">
      {{ event.long_description | safe }}
  </div>
  <div class="col-xl-4">
    {% include 'event-time.html' %}
    <h6>Location:</h6>
    <p>
      {{ event.location }}<br>
      <a href="https://www.google.com/maps/search/{{ event.latitude }},+{{ event.longitude }}" target="_blank">View on map</a>
    </p>
  </div>
</div>
{% endblock %}

{% block scripts %}
  <script>
    var event_latitude = {{ event.latitude }}
    var event_longitude = {{ event.longitude }}
  </script>
  <script src="{% static 'js/event.js' %}"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_KEY }}&callback=init_map" async defer></script>
{% endblock %}
