{% extends "base.html" %}

{% block title %}{{group.name}}{% endblock %}

{% block header-title %}
  <h1 class="my-3 mr-3">{{group.name}}</h1>
{% endblock %}

{% block header-buttons %}
  {% if user.is_authenticated %}
      {% if user not in group.users.all %}
          <form class="form-inline mr-3" action="/g/{{group.id}}/join" method="post">
              {% csrf_token %}
              <input type="submit" class="btn btn-sm btn-light" value="Join Group">
          </form>
      {% else %}
          <form class="form-inline mr-3" action="/g/{{group.id}}/leave" method="post">
              {% csrf_token %}
              <input type="submit" class="btn btn-sm btn-outline-light" value="Leave Group">
          </form>
      {% endif %}
  {% endif %}
{% endblock %}

{% block header-dropdown %}
{% if user.is_staff or user_role == leader_role %}
  <a class="dropdown-item" href="{% url 'create-event' group.id %}">Create Event</a>
  <a class="dropdown-item" href="{% url 'group-metrics' group.id %}">Group Metrics</a>
  <a class="dropdown-item" href="{% url 'group-contact-leads' group.id %}">Contact Group Leads</a>
  <div class="dropdown-divider"></div>
{% endif %}
{% endblock %}

{% block content %}
<div class="row my-3">
  <div class="col my-3">
      <p>{{ group.description }}</p>
  </div>
  <div class="col-xl-4 my-3">
    <h3>{{ timespan|title }} Events</h3>
    {% for event in events %}
      <div class="row">
        <div class="col my-3">
          {% include "./events-box.html" %}
        </div>
      </div>
    {% endfor %}
    <div class="text-center">
      <a href="{% url 'events' group.id timespan %}">See all {{ timespan }} events &rarr;</a>
    </div>
  </div>
</div>
{% endblock %}
