{% extends "base.html" %}
{% load static %}

{% block title %}Metrics - {{ group.name }}{% endblock %}

{% block header-title %}
  <h1 class="my-3">Metrics - {{ group.name }}</h1>
{% endblock %}

{% block content %}
  <div class="row my-3 content">
    {% include 'graph.html' with name='event_registration' %}
    {% include 'graph.html' with name='event_attendance' %}
    {% include 'graph.html' with name='create_event' %}
    {% include 'graph.html' with name='group_join' %}
  </div>
{% endblock %}

{% block scripts %}
  <script src="{% static 'js/d3.min.js' %}"></script>
  <script src="{% static 'js/metricsgraphics.min.js' %}"></script>
  <script src="{% static 'js/metrics.js' %}"></script>
  <script>
    createGraph('event_registration', 'Registration: All Group Events')
    createGraph('event_attendance', 'Attendance: All Group Events')
    createGraph('create_event', 'New Events')
    createGraph('group_join', 'New Group Members')
  </script>
{% endblock %}
