{% extends "base.html" %}

{% block title %}{{group.name}}{% endblock %}

{% block header %}
<h1>{{group.name}}</h1>
{% if user.is_authenticated %}
    {% if not group_member %}
        <form class="form-inline" action="/g/{{group.id}}/join" method="post">
            {% csrf_token %}
            <input type="submit" class="btn btn-light mb-2" value="Join Group">
        </form>
    {% else %}
        <form class="form-inline" action="/g/{{group.id}}/leave" method="post">
            {% csrf_token %}
            <input type="submit" class="btn btn-light mb-2" value="Leave Group">
        </form>
    {% endif %}
{% endif %}
{% endblock %}
{% block content %}
<p>{{group.description}}</p>

{% endblock %}
