{% extends "base.html" %}

{% block title %}{{group.name}}{% endblock %}

{% block header %}
  <h1 class="my-3 mr-3">{{group.name}}</h1>
  {% if user.is_authenticated %}
      {% if user not in group.users.all %}
          <form class="form-inline" action="/g/{{group.id}}/join" method="post">
              {% csrf_token %}
              <input type="submit" class="btn btn-sm btn-light" value="Join Group">
          </form>
      {% else %}
          <form class="form-inline" action="/g/{{group.id}}/leave" method="post">
              {% csrf_token %}
              <input type="submit" class="btn btn-sm btn-outline-light" value="Leave Group">
          </form>
      {% endif %}
  {% endif %}
{% endblock %}

{% block content %}
<div class="row my-3">
  <div class="col my-3">
      <p>{{ group.description }}</p>
  </div>
  <div class="col-xl-4">
    {% for event in group.event_set.all %}
      <div class="row">
        <div class="col my-3">
          {% include "./events-box.html" %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
